*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.nav-link{
    transition: all .5s ease-in-out;
}
.nav-link:hover{
    color: green;
    font-weight: 500;
    transform: translateY(-3px);
}
.footer-social-icons .bi{
    transition: all .5s linear;

}
.footer-social-icons .bi:hover{
    background-color: #28a745;
    color: white;
}
.service-img{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
}
.service-card{
    transition: all 1s linear;
}
.service-card:hover{
    border-bottom: 2px solid #28a745;;
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px #28a745 !important; 
}